@import 'variables';

#form{
  background: linear-gradient(to top, $white 0 60%, $background-color 60% 100%);
  text-align: center;
  margin: 0;

  h3{
    padding-top: 2em;
    color: $font-color;
    text-transform: uppercase;
    font-size: 15px;
  }

  .form-heading{
    color: $white;
    font-weight: bolder;
    padding: 0 1em;
    padding-bottom: 1em;
  }

}

.option-wrapper{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 1em auto;
}

.option{
  width: 100%;
  border: none;
  background-size: cover;
  background-position: center;
  font-family: $second-font;
  color: $white;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: right;
  position: relative;
}

.option a{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.first{
  background-image: url('../assets/img/room0.jpg');
  height: 400px;
  text-align: left;

  a{
    justify-content: left;
  }

}

.second{
  background-image: url('../assets/img/room1.jpg');
  height: 440px;
}

.third{
  background-image: url('../assets/img/room2.jpg');
  height: 300px;
}

.fourth{
  background-image: url('../assets/img/room3.jpg');
  height: 420px;
}

@keyframes form-slide{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0);
  }
}

#user-form{
  width: 100%;
  padding: 1em 0;
  background: $background-color;
}

.form-to-fill{
  width: 90%;
  margin: auto;

  h1{
    color: $white;
  }

  p{
    color: $white;
  }
}

.info{
  width: 90%;
  margin: auto;
  font-family: $second-font;
}

.hotel-description{
  font-size: 14px;
}

.data-form{
  display: flex;
  flex-direction: column;
}

.input-error{
  border-bottom: 2px solid tomato !important;
  transition: border-bottom .3s ease;
  position: relative;

  .input-error::after{
    content: 'This field is required';
    position: absolute;
    color: $white;
    top: 0;
    left: 0;
    background: $white;
  }
}


.submit-button{
  position: relative;
  height: 40px;
  background-color: $font-color;
  font-family: $second-font;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 2px;
  color: $white;
  border: none;
  margin-top: 2em;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
}

.submit-button::before{
  content: '';
  position: absolute;
  top: 0;
  left: -30px;
  height: 40px;
  width: 30px;
  background: $white;
  filter: blur(20px);
  overflow: visible;
  transition: all 1s ease;
  overflow: hidden;
  transform: rotate(45deg);
}

.submit-button:hover::before{
  transform: translateX(450px);
}

.submit-button:disabled{
  opacity: .5;
}

.conf{
  text-align: left;
  font-size: 12px;
  letter-spacing: 1px;
  color: $font-color !important;
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease;
}

@keyframes display{
  0%{
    opacity: 0;
    visibility: hidden;
  }
  20%{
    opacity: 1;
    visibility: visible;
  }
  80%{
    opacity: 1;
    visibility: visible;
  }
  100%{
    opacity: 0;
    visibility: hidden;
  }
}

#contact-box{
  width: 90%;
  margin: auto;
  text-align: left;

  p{
    color: $impact-color;
    letter-spacing: 2px;
  }
}

.contact-heading{
  text-align: center;
}

.social-box{
  color: $impact-color;
  font-size: 20px;
  margin: 2em 0;
  text-align: left;
}

.icons{
  margin-right: 1em;
  cursor: pointer;
  transition: all .5s ease;
}

.icons:hover{
  color: $white;
  transition: color .5s ease;
}

@import 'media';