@import 'variables';

#form{
  background: linear-gradient(to top, $white 0 60%, $background-color 60% 100%);
  text-align: center;
  margin: 0;

  h3{
    padding-top: 2em;
    color: $font-color;
    text-transform: uppercase;
    font-size: 15px;
  }

  .form-heading{
    color: $white;
    font-weight: bolder;
    padding: 0 1em;
    padding-bottom: 1em;
  }

}

.option-wrapper{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 1em auto;
}

.option{
  width: 100%;
  border: none;
  background-size: cover;
  background-position: center;
  font-family: $second-font;
  color: $white;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: right;
  position: relative;
}

.option a{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.first{
  background-image: url('../assets/img/room0.jpg');
  height: 400px;
  text-align: left;

  a{
    justify-content: left;
  }

}

.second{
  background-image: url('../assets/img/room1.jpg');
  height: 440px;
}

.third{
  background-image: url('../assets/img/room2.jpg');
  height: 300px;
}

.fourth{
  background-image: url('../assets/img/room3.jpg');
  height: 420px;
}

@keyframes form-slide{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0);
  }
}

#user-form{
  width: 100%;
  padding: 1em 0;
  background: $background-color;
}

.form-to-fill{
  width: 90%;
  margin: auto;

  h1{
    color: $white;
  }

  p{
    color: $white;
  }
}

.info{
  width: 90%;
  margin: auto;
}

.data-form{
  display: flex;
  flex-direction: column;

  input{
    color: $white;
    font-weight: bold;
    font-family: $second-font;
    letter-spacing: 1px;
    background: transparent;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgba(102,102,102,.3);
    transition: all .3s ease;
    margin: 1em 0;
  }

  input::placeholder{
    color: rgba(102,102,102,.7);
    font-family: $second-font;
    letter-spacing: 1px;
  }

  input:focus{
    outline: none;
    border-bottom: 1px solid $font-color;
    transition: border-bottom .3s ease;
  }

  select{
    color: $white;
    font-family: $second-font;
    height: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(102, 102, 102, .3);
    margin: 1em 0;
  }

  select option{
    color: $black;
    margin: 1em 0;
  }

  select:focus{
    outline: none;
    border-bottom: 1px solid $font-color;
    transition: border-bottom .3s ease;
  }
}

.input-error{
  border-bottom: 2px solid tomato !important;
  transition: border-bottom .3s ease;
  position: relative;

  .input-error::after{
    content: 'This field is required';
    position: absolute;
    color: $white;
    top: 0;
    left: 0;
    background: $white;
  }

}

.submit-button{
  position: relative;
  height: 40px;
  background-color: $font-color;
  font-family: $second-font;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 2px;
  color: $white;
  border: none;
  margin-top: 2em;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
}

.submit-button::before{
  content: '';
  position: absolute;
  top: 0;
  left: -30px;
  height: 40px;
  width: 30px;
  background: $white;
  filter: blur(20px);
  overflow: visible;
  transition: all 1s ease;
  overflow: hidden;
  transform: rotate(45deg);
}

.submit-button:hover::before{
  transform: translateX(450px);
}




@import 'media';