//VARIABLES
$white: #fff;
$black: #000;
$font: 'Raleway';
$second-font: 'Montserrat';
$background-color: #0c0c0c;
$font-color: #39b449;
$second-color: #424242;
$impact-color: #666666;

//MEDIA QUERIES
$mq-phone-medium: '680px'; //height
$mq-phone-large: '770px'; //height
$mq-tablet: '813px'; //width
$mq-desktop: '1440px'; //width
 